.article_view_header{
    margin: 10 10 10 10;
    background-color:white;
    border-radius:2;
}

.article_summaries{
    background-color:white;
    border-radius:2;
}

.article_praise{

    background-color:white;
    border-radius:2;
}

.article_criticisms{

    background-color:white;
    border-radius:2;
}

.up_down_vote_count{
    float:left;
    height:100%;
}

.prose_div{
    border-bottom: 1px solid #4f9fcf;
    overflow:auto;
}