html {
   padding: 0;
   margin: 0;
   font-family: Verdana, Helvetica, sans-serif;
}
body {
   background-color: #aaaacc;
   background-image:url('/static/media/img/metal3.jpg');
   padding: 0;
   margin: 0;
   width:100%;
}
a {
   text-decoration: none;
}
a :hover {
   cursor: pointer;
   text-decoration: none;
}
img {
   border: none;
}
#content {
   padding-left: 1em;
}
#info {
   font-size: 60%;
}

.paper_roll{
    
}

.pr_score_block{
    position:absolute;
    right:0px;
    width:200px;
    background-color:#eeeeee;

}

.pr_paper_info{
    background-color:#ffeeee;
}

.pr_paper {

    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
    border-radius:5px;
    opacity:0.9;
    max-width:600px;
    margin:0 auto;
    overflow:auto;
    zoom:1;
}
.pr_paper:hover {
  background-color:#white;
  border-color:#000000;
  opacity:0.95;
}