html {
   padding: 0;
   margin: 10;
   font-family: Verdana, Helvetica, sans-serif;
}
body {
   background-color: #FAFCFF;
   padding: 10px;

   margin: 0;
   width:100%;
}
a {
   text-decoration: none;
}
a :hover {
   cursor: pointer;
   text-decoration: none;
}
img {
   border: none;
}
#content {
   margin-top:70px;
   padding-left: 1em;
   padding-right:14px;
}
#info {
   font-size: 60%;
}

h3 .button{
    display:inline-block;
    background-color:black;
}

.paper_roll{
    
}

.score_block{
    display:fixed;
    right:0px;
    float:right;
    clear:both;
    font-size:12;
    width:60px;
    margin:0px auto;
    text-color:black;
}
.score_block ul{
   padding:8px;
   list-style-type:none;
   border-style:solid;
   border-color:black;
   border-width:1px;
   border-radius:0px 8px 0px 10px;
   border-color:#4f9fcf;
   text-color:black;
}

.field_tags_list{
    text-align:right;
}

.field_tags_list li{
    list-style-type:none;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.score_block li{
    margin-top:-6px;
    margin-bottom:-6px;
}

.pr_paper_info{

    margin: 4px 4px;

}

.pr_title{
    font-size:16;
}

.pr_authors{
    font-size:12;
}

.pr_paper {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border-style:solid;
    border-width:1px;
    border-color:#000;
    border-radius:10px;
    opacity:1;
    overflow:auto;
    padding-left:10px;
    padding-right:4px;
    padding-top:4px;
    padding-bottom:10px;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
}
.pr_paper:hover {
  opacity:0.9;
  border-color:#2f7faf;
}
.paper_roll a:link{text-decoration:none;}
.paper_roll a:link {color:#1c5e86;}
.paper_roll a:visited{color:#4488b2;}
.paper_roll a:hover{color:#1c5e86;}
.paper_roll a:active{color:#2f6fcf;}


.arrow-up {
    width:0;
    height:0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid #4f9fcf;
    margin: 0 auto;
}

.arrow-down {
    width:0;
    height:0;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-top: 10px solid #4f9fcf;
    margin: 0 auto;
}

.circle {
  width:20px;
  height:20px;
  border-radius:50%;

  background-color:#4f9fcf;
  opacity:0.5;
}
.circle:hover{
    opacity:0.9;
}


#new_paper{
 margin:0 auto;
 width: 80%;
}


.user-info{
 margin: 0 auto;
 width: 60%;
}

.filter_settings{
 margin: 10px 0px 10px 10px;
 padding:20px 20px 20px 20px;
 border-style:solid;
 border-width:1px;
 border-radius: 3px;
}

.community_stats{
 margin: 10 auto;
 border-style:solid;
 border-width:1px;
 border-radius:3px;
}

.user_feed{
 margin: 10 auto;
 border-style:solid;
 border-width:1px;
 border-radius: 3px;
}

.login-form{
  margin: 0px auto;
  width: 40%; 
}