html {
   padding: 0;
   margin: 0;
   font-family: Verdana, Helvetica, sans-serif;
}
body {
   background-color: #aaaacc;
   padding: 0;
   margin: 0;
}
a {
   text-decoration: underline;
}
a :hover {
   cursor: pointer;
   text-decoration: underline;
}
img {
   border: none;
}
#content {
   padding-left: 1em;
}
#info {
   font-size: 60%;
}

.pr_paper {
  text-align:right;
  background-color:#bbbbcc;
  border-style:solid;
  border-width:0px;
  border-color:#2222ff;
  opacity:0.5;
  margin:2px;
}
.pr_paper:hover {
  background-color:#bbbbcc;
  border-color:#000000;
  opacity:1;

}