html {
   padding: 0;
   margin: 0;
   background-color: #0000ff;
   font-family: Verdana, Helvetica, sans-serif;
}
body {
   padding: 0;
   margin: 0;
}
a {
   text-decoration: none;
}
a :hover {
   cursor: pointer;
   text-decoration: none;
}
img {
   border: none;
}
#content {
   padding-left: 1em;
}
#info {
   font-size: 60%;
}

.pr_paper {
  text-align:right;
  background-color:#aaaaff;
}
.pr_paper#hover {
  background-color:#ccccff;
}